:root {
    --hue: 36;
    --sat: 9.8%;
    --light: 90%;

    --background-footer: hsl(var(--hue), var(--sat), 27%);

    --color-body: black;
    --color-title: #222;
    --color-heading: #333;
    --color-link: #222;
    --color-link-hover: #888;
    --color-blockquote: #555;
    --color-nav: #666;
    --color-nav-hover: #AAA;
    --light-code: 85%;
    --light-selection: 35.7%;
    --light-toc-border: 61.6%;

    --duration: 0.5s;
    --timing: ease;

    --body-font-family: 'iA Writer Q';
    --heading-font-family: 'iA Writer Q';
    --input-font-family: 'iA Writer Q';
    --nav-link-font-family: 'iA Writer Q';

    --link-font-family: 'EB Garamond';
    --title-font-family: 'EB Garamond';

    --font-size-title: 21px;
    --font-size-description: 1rem;
    --font-size-site-title: 4.375rem;
    --font-size-body: 1.1em;
    --font-size-post-title: 3.5rem;
    --font-size-post-title-mobile: 2.75em;
    --font-size-subtitle: 1.375em;
}

*::selection {
    color: #eeeeee;
    background-color: hsl(0, 0%, var(--light-selection));
    transition:
        color var(--duration) var(--timing),
        background-color var(--duration) var(--timing);
}

body {
    background-color: hsl(var(--hue), var(--sat), var(--light));
    color: var(--color-body);
    font-family: var(--body-font-family), "iA Writer Q", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: var(--font-size-body);
    min-width: 350px;
    min-height: 98vh;
    display: grid;
    grid-template-rows: minmax(200px, max-content) 100px;
    grid-template-columns: 1fr;
    grid-template-areas: "content""footer";
    overflow-x: hidden;

    transition:
        color var(--duration) var(--timing),
        background-color var(--duration) var(--timing);
}

html,
button,
input,
select,
textarea {
    color: #333;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
}

.markdown img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2), 0 4px 10px 0 rgba(0, 0, 0, .1);
    max-height: 70vh;
    transition: transform 0.25s ease;
}

.markdown img:active {
    transform: scale(1.5);
}

img.left,
img.right {
    width: 40%;
}

img.left {
    margin-right: 10%;
    float: left;
}

img.right {
    margin-left: 10%;
    float: right;
}

a img {
    border: none;
}

figure {
    margin: 0;
    text-align: center;
}

figcaption {
    font-size: 0.9em;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

code {
    padding: 0.1em 0.2em;
}

pre {
    padding: 1em;
}

code,
pre {
    background-color: hsl(var(--hue), var(--sat), var(--light-code));
    border-radius: 0.4em;
    transition: background-color var(--duration) var(--timing);
}

table {
    width: 70%;
    margin: 2em auto;
    table-layout: fixed;
}

blockquote {
    margin-left: 1rem;
    font-family: var(--title-font-family), 'EB Garamond', serif;
    border-left: 3px solid;
    border-color: #a00;
    padding-left: 20px;
    color: var(--color-blockquote);
    font-size: 1.3em;
}

blockquote cite {
    font-size: 70%;
    opacity: .8;
}

blockquote em {
    font-weight: 600;
}

a {
    display: inline-block;
    text-decoration: none;
    font-family: var(--link-font-family), 'EB Garamond', serif;
    font-weight: bold;
    color: var(--color-link);
    padding: 5px 0;

    transition: color var(--duration) var(--timing);
}

a:hover,
.markdown a:hover {
    color: var(--color-link-hover);
    transition: color 0.05s ease;
}

.markdown a,
.markdown h2,
.markdown h3 {
    font-family: var(--heading-font-family), 'iA Writer Q';
    color: var(--color-heading);

    transition: color var(--duration) var(--timing);
}

.markdown p a {
    padding: 0;
}

.title {
    color: var(--color-title);
    font-size: var(--font-size-title);
}

header {
    grid-area: header;
    align-self: end;
}

.site-title {
    line-height: 0;
}

.archive-title {
    font-family: monospace;
}

h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-weight: 900;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
    display: inline;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: .9rem;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.wrapper {
    margin: 0 5%;
    width: 90%;
}

.container {
    max-width: 800px;
    padding: 0;
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    margin-top: 20px;
}

/* if there's a table of contents don't use the area */
#TableOfContents+.container {
    grid-area: main;
}

#TableOfContents {
    grid-area: toc;
    background: hsl(var(--hue), var(--sat), var(--light-code));
    border: 5px hsl(var(--hue), var(--sat), var(--light-toc-border)) solid;
    padding: 0 5px;
    margin: 20px 5% -25px;
}

#TableOfContents>ul {
    margin: 10px 0 8px;
}

#TableOfContents a {
    padding: 2.5px 0;
}

ul {
    padding-left: 15px;
}

ul.flat {
    margin: 0;
    padding: 0;
}

ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
}

.prevent-collapse {
    min-height: .1rem
}

.page-title {
    margin: 0;
}

.subtitle {
    font-size: var(--font-size-subtitle);
    font-variant: small-caps;
    line-height: 1em;
    margin: 0.5em 0 1em;
}

.smaller {
    font-size: 70%;
}

ul {
    list-style: none inside;
}

.site-title a,
.post-header .title {
    color: var(--color-title);
    text-decoration: none !important;
    font-family: var(--title-font-family), 'EB Garamond', serif;
    margin: 0;
}

.site-title a {
    font-size: var(--font-size-site-title);
    color: var(--color-title);
}

.post-header .title {
    font-size: var(--font-size-post-title);
    line-height: 1.2em;
    padding-top: 76px;
}

.post ul li {
    margin-bottom: 10px;
}

.post ul li p {
    display: inline;
}

.highlight pre {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
    background-color: transparent !important;
}

.highlight {
    background: 0 0;
    background-color: #FAFAFA;
}

.section .section-header {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.recent-posts .posts .post {
    margin-bottom: 30px;
}

.recent-posts .posts .post .meta,
.post .post-header .meta,
.list .posts .post .meta {
    font-size: 0.725rem;
    color: #999;
    margin-bottom: 4px;
}

.recent-posts article {
    padding: 5px 0 20px;
}

.post .post-header {
    margin-bottom: 30px;
}

.post .post-header .title {
    margin: 0;
}

.post-tags a {
    margin-right: 5px;
}

.post .post-header .meta {
    padding-left: 5px;
    margin-top: 10px;
}

.post .draft-label {
    color: #a00;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.post-tags .tags li {
    margin-bottom: 0;
    margin-top: 20px;
}

.post-tags .tags a {
    display: inline-block;
    border: 1px solid #a00;
    border-radius: 4px;
    padding: 0px 6px;
    color: #a00;
    line-height: 20px;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
}

.list .posts .post .meta {
    margin-bottom: 0;
    margin-left: 5px;
}

.description {
    font-style: italic;
    font-size: var(--font-size-description);
}

footer {
    padding: 25px 0;
    text-align: center;
    font-family: Roboto Mono, monospace;
    color: white;
    font-size: 12px;
    margin-top: 4em;

    grid-area: footer;
    display: grid;
    grid-template: "font text nightmode"1fr / 1fr 4fr 1fr;
    place-items: center;
    text-align: center;
    line-height: 1.2rem;
    width: 100vw;
    height: 80px;
    background: var(--background-footer);
    position: relative;

    padding: 10px 0;
}

footer a {
    color: #ccc;
    font-family: Roboto Mono, monospace;
}

footer p {
    margin: 0 auto;
}

my-footer {
    grid-area: footer;
}

div[slot] {
    height: 35px;
}

div[slot="font"] {
    grid-area: font;
}

div[slot="nightmode"] {
    grid-area: nightmode;
}

#footerText {
    grid-area: text;
}

#footerText p {
    display: contents;
    font-family: Roboto Mono, Consolas, monospace;
    font-size: 12px;
    margin: 0;
    line-height: 1.2rem;
}

#footerText img {
    margin-bottom: -3.5px;
}

.page-title {
    margin-bottom: 0;
}

.tag-cloud {
    margin-top: 20px;
}

.tag-cloud a {
    margin-right: 15px;
}

.pagination {
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.pagination li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination .page-prev {
    margin-right: 20px;
    padding-right: 20px;
}

.pagination .page-item.page-prev {
    text-align: left;
}

.pagination .page-item.page-next {
    text-align: right;
}

.archive-item {
    display: flex;
    align-items: center;
}

.item-text {
    width: 85%;
}

.item-date {
    color: var(--color-heading);
    font-size: 14px;
    text-align: right;
    width: 15%;

    transition: color var(--duration) var(--timing);
}

input,
[type="submit"] {
    font-family: var(--input-font-family), 'iA Writer Q', sans-serif;
}

input {
    height: 1.75rem;
    padding: .375rem .75rem;
    color: hsl(var(--hue), var(--sat), 50%);
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .29rem 0 0 .29rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

[type="submit"] {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: hsl(var(--hue), var(--sat), 70%);
    color: hsl(var(--hue), var(--sat), 30%);
    margin: 0 .25em 0 0;
    padding: .375rem .75rem;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0 .29rem .29rem 0;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, .15) inset;
    user-select: none;
    transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease, -webkit-box-shadow .1s ease;
    font-variant: small-caps;
    height: 42px;
}

.center {
    text-align: center;
}

#content {
    max-width: 800px;
    min-width: 350px;
    margin: 0 auto 13px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: minmax(15vh, max-content) max-content minmax(85vh, max-content);
    grid-template-areas: "header back""toc toc""main main";
    grid-area: content;
    width: 100%;
}

#back {
    grid-area: back;
    justify-self: end;
    padding-right: 25%;
    padding-top: 104px;
    line-height: 1em;
    padding-bottom: 5px;
}

#back a {
    font-size: 2.3rem;
}

nav a {
    font-family: var(--nav-link-font-family), "iA Writer Q", sans-serif;
    font-weight: bold;
    color: var(--color-nav);
}

nav a:hover {
    color: var(--color-nav-hover);
}

@media (max-width: 767px) {
    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    header {
        margin: 0 5%;
    }

    .container {
        max-width: 90vw;
    }

    #content {
        margin: 0 0;
        grid-template-rows: minmax(150px, max-content) maxcontent minmax(80vh, max-content);
        grid-template-columns: 1fr;
        grid-template-areas: "header""toc""main";
    }

    header {
        align-self: center;
    }

    .post-header .title {
        font-size: var(--font-size-post-title-mobile);
    }

    .archive-item {
        flex-direction: column;
    }

    .item-text {
        width: 100%;
    }

    .item-date {
        text-align: center;
        float: none;
        width: 100%;
        padding: 15px;
    }

    #back {
        padding: 0;
        position: fixed;
        left: 0;
        bottom: 0;
        background: #3f3932bb;
        width: 100vw;
        display: grid;
        grid-template-areas: "font home nightmode";
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        font-size: 3.5vw;
        place-items: center;
    }

    #back a {
        grid-area: home;
    }

    #back a {
        color: #eee;
        line-height: normal;
    }

    #back a:hover {
        color: #bbb;
    }
}

@font-face {
    font-family: "iA Writer Q";
    src: url('/Fonts/iAWriterQuattroS-BoldItalic.woff2') format('woff2'),
        url('/Fonts/iAWriterQuattroS-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic, oblique;
}

@font-face {
    font-family: "iA Writer Q";
    src: url('/Fonts/iAWriterQuattroS-Italic.woff2') format('woff2'),
        url('/Fonts/iAWriterQuattroS-Italic.woff') format('woff');
    font-style: italic, oblique;
}

@font-face {
    font-family: "iA Writer Q";
    src: url('/Fonts/iAWriterQuattroS-Bold.woff2') format('woff2'),
        url('/Fonts/iAWriterQuattroS-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "iA Writer Q";
    src: url('/Fonts/iAWriterQuattroS-Regular.woff2') format('woff2'),
        url('/Fonts/iAWriterQuattroS-Regular.woff') format('woff');
}

@font-face {
    font-family: 'EB Garamond';
    src: local('EB Garamond Bold Italic'), local('EBGaramond-BoldItalic'),
        url('/Fonts/EBGaramond-BoldItalic.woff2') format('woff2'),
        url('/Fonts/EBGaramond-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'EB Garamond';
    src: local('EB Garamond Italic'), local('EBGaramond-Italic'),
        url('/Fonts/EBGaramond-Italic.woff2') format('woff2'),
        url('/Fonts/EBGaramond-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'EB Garamond';
    src: local('EB Garamond SmallCaps 12 Regular'), local('EBGaramondSC12-Regular'),
        url('/Fonts/EBGaramondSC12-Regular.woff2') format('woff2'),
        url('/Fonts/EBGaramondSC12-Regular.woff') format('woff');
    font-variant: small-caps;
}

@font-face {
    font-family: 'EB Garamond';
    src: local('EB Garamond Regular'), local('EBGaramond-Regular'),
        url('/Fonts/EBGaramond-Regular.woff2') format('woff2'),
        url('/Fonts/EBGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}