:root {
    --hue: 36;
    --sat: 9.8%;
    --light: 90%;

    --background-footer: hsl(var(--hue), var(--sat), 27%);

    --color-body: black;
    --color-title: #222;
    --color-heading: #333;
    --color-link: #222;
    --color-nav-hover: #555;
    --color-nav: #777;

    --duration: 0.5s;
    --timing: ease;
}

*::selection {
    color: #eeeeee;
    background-color: #5b5b5b;
}

body {
    background-color: hsl(var(--hue), var(--sat), var(--light));
    color: var(--color-body);
    font-family: "iA Writer Q", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.1em;
    max-width: 800px;
    min-width: 350px;
    min-height: 98vh;
    display: grid;
    grid-template-rows: minmax(200px, max-content) 80px;
    grid-template-columns: 1fr;
    grid-template-areas: "content""footer";
    overflow-x: hidden;

    transition:
        color var(--duration) var(--timing),
        background-color var(--duration) var(--timing);
}

html,
button,
input,
select,
textarea {
    color: #333;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
}

img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
}

a img {
    border: none;
}

figure {
    margin: 0;
    text-align: center;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

blockquote {
    margin-left: 1rem;
    font-style: italic;
    font-family: Georgia, bitstream charter, serif;
    font-family: Georgia, bitstream charter, serif;
    border-left: 3px solid;
    border-color: #a00;
    padding-left: 20px;
}

blockquote cite {
    font-size: 70%;
    opacity: .8;
}

blockquote em {
    font-weight: 600;
}

a {
    display: inline-block;
    text-decoration: none;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    color: var(--color-link);
    padding: 5px 0;

    transition: color var(--duration) var(--timing);
}

.markdown a,
.markdown h2,
.markdown h3 {
    font-family: 'iA Writer Q';
    color: var(--color-heading);
}

.title {
    color: var(--color-title);
    font-size: 21px;
}

a:hover {
    border-bottom-color: #222;
}

header {
    grid-area: header;
    align-self: end;
}

.site-title {
    line-height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: monospace;
    line-height: 1.2;
    font-weight: 900;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
    display: inline;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .9rem;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.container {
    max-width: 800px;
    padding: 0;
    grid-area: main;
}

ul {
    padding-left: 15px;
}

ul.flat {
    margin: 0;
    padding: 0;
}

ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
}

.prevent-collapse {
    min-height: .1rem
}

.page-title {
    margin: 0;
}

.smaller {
    font-size: 70%;
}

ul {
    list-style: disc inside;
}

.site-title a,
.post-header .title {
    color: var(--color-title);
    text-decoration: none !important;
    font-family: 'EB Garamond', serif;
    margin: 0;
}

.site-title a {
    font-size: 4.375rem;
    color: var(--color-title);
}

.post-header .title {
    font-size: 3.5rem;
}

.post ul li {
    margin-bottom: 10px;
}

.post ul li p {
    display: inline;
}

.highlight pre {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
    background-color: transparent !important;
}

.highlight {
    background: 0 0;
    background-color: #FAFAFA;
}

.wrapper {
    margin: 0 5%;
}

.container {
    margin-top: 50px;
}

.section .section-header {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.recent-posts .posts .post {
    margin-bottom: 30px;
}

.recent-posts .posts .post .meta,
.post .post-header .meta,
.list .posts .post .meta {
    font-size: 0.725rem;
    color: #999;
    margin-bottom: 4px;
}

.recent-posts article {
    padding: 5px 0 20px;
}

.post-header {
    margin-bottom: -30px;
}

.post .post-header {
    margin-bottom: 30px;
}

.post .post-header .title {
    margin: 0;
}

.post-tags a {
    margin-right: 5px;
}

.post .post-header .meta {
    padding-left: 5px;
    margin-top: 10px;
}

.post .draft-label {
    color: #a00;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.post-tags .tags li {
    margin-bottom: 0;
    margin-top: 20px;
}

.post-tags .tags a {
    display: inline-block;
    border: 1px solid #a00;
    border-radius: 4px;
    padding: 0px 6px;
    color: #a00;
    line-height: 20px;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
}

.list .posts .post .meta {
    margin-bottom: 0;
    margin-left: 5px;
}

.description {
    font-style: italic;
    font-size: 1em;
}

footer {
    padding: 25px 0;
    text-align: center;
    font-family: Roboto Mono, monospace;
    color: white;
    font-size: 12px;

    grid-area: footer;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    line-height: 1.2rem;
    place-content: center;
    place-items: center;
    width: 100vw;
    height: 80px;
    background: var(--background-footer);
    position: relative;

    margin-top: 50px;
    padding: 10px 0;
}

footer a {
    color: #ccc;
    font-family: Roboto Mono, monospace;
}

footer p {
    margin: 0 auto;
}

.page-title {
    margin-bottom: 0;
}

.tag-cloud {
    margin-top: 20px;
}

.tag-cloud a {
    margin-right: 15px;
}

.pagination {
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.pagination li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination .page-prev {
    margin-right: 20px;
    padding-right: 20px;
}

.pagination .page-item.page-prev {
    text-align: left;
}

.pagination .page-item.page-next {
    text-align: right;
}

.archive-item {
    display: flex;
    align-items: center;
}

.item-text {
    width: 85%;
}

.item-date {
    color: var(--color-heading);
    font-size: 14px;
    text-align: right;
    width: 15%;
}

#content {
    max-width: 800px;
    min-width: 350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: minmax(15vh, max-content) minmax(85vh, max-content);
    grid-template-areas: "header back""main main";
    grid-area: content;
    width: 100%;
}

#content>nav {
    grid-area: back;
    align-self: end;
    justify-self: end;
    padding-right: 15%;
}

nav a {
    font-size: 2.3rem;
    font-family: "iA Writer Q", sans-serif;
    font-weight: bold;
    color: var(--nav-color);
    font-weight: 400;
    line-height: 0;
}

nav a:hover {
    color: var(--nav-color-hover);
}

@media (max-width: 767px) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    header {
        margin-left: 7.5%;
    }

    .container {
        margin-top: 10px;
    }

    #content {
        margin: 0 0;
        grid-template-rows: 150px minmax(80vh, max-content);
        grid-template-columns: 1fr;
        grid-template-areas: "header""main";
    }

    header {
        align-self: center;
    }

    .post-header .title {
        font-size: 3em;
    }

    .archive-item {
        flex-direction: column;
    }

    .item-text {
        width: 100%;
    }

    .item-date {
        text-align: center;
        float: none;
        width: 100%;
        padding: 15px;
    }

    #content>nav {
        padding: 0;
        position: fixed;
        bottom: 0;
        background: #3f3932bb;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        font-size: 3.5vw;
    }

    nav a {
        color: #eee;
        line-height: normal;
    }

    nav a:hover {
        color: #bbb;
    }
}

@font-face {
    font-family: "Bebas Neue";
    src: url("/Fonts/1444649/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix");
    src: url("/Fonts/1444649/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix") format("eot"), url("/Fonts/1444649/e0d6f852-5401-4bbf-9672-47a50c5c87c6.woff2") format("woff2"), url("Fonts/1444649/7fedd582-6ae3-4850-be2f-4acae2e74fa5.woff") format("woff"), url("/Fonts/1444649/d6e08ef3-40db-4ac3-82df-f062f55a72f5.ttf") format("truetype");
}

@font-face {
    font-family: "iA Writer Q";
    src: url('/Fonts/iAWriterQuattroS-BoldItalic.woff2') format('woff2'),
        url('/Fonts/iAWriterQuattroS-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic, oblique;
}

@font-face {
    font-family: "iA Writer Q";
    src: url('/Fonts/iAWriterQuattroS-Italic.woff2') format('woff2'),
        url('/Fonts/iAWriterQuattroS-Italic.woff') format('woff');
    font-style: italic, oblique;
}

@font-face {
    font-family: "iA Writer Q";
    src: url('/Fonts/iAWriterQuattroS-Bold.woff2') format('woff2'),
        url('/Fonts/iAWriterQuattroS-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "iA Writer Q";
    src: url('/Fonts/iAWriterQuattroS-Regular.woff2') format('woff2'),
        url('/Fonts/iAWriterQuattroS-Regular.woff') format('woff');
}