<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
    <div id="content">
        <header>
            <div class="post-header">
                <h1 class="title">{{ .Title }}</h1>
                <div class="meta">Posted at &mdash; {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span
                        class="draft-label">DRAFT</span> {{ end }}</div>
            </div>
        </header>

        <nav>
            <a id='back' href="{{ $.Site.BaseURL }}">Back</a>
        </nav>

        <div class="container wrapper post">

            <div class="markdown">
                {{ .Content }}
            </div>

            <div class="post-tags">
                {{ if ne .Type "page" }}
                {{ if gt .Params.tags 0 }}
                <nav class="nav tags">
                    <ul class="flat">
                        {{ range .Params.tags }}
                        <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                        {{ end }}
                    </ul>
                </nav>
                {{ end }}
                {{ end }}
            </div>

            {{- $.Scratch.Set "isDisqus" true -}}

            {{- if and (isset .Params "type") (in .Site.Params.disableDisqusTypes .Params.type) -}}
            {{- $.Scratch.Set "isDisqus" false -}}
            {{- end -}}

            {{- if and (isset .Params "disqus") (eq .Params.disqus false) -}}
            {{- $.Scratch.Set "isDisqus" false -}}
            {{- else if and (isset .Params "disqus") (eq .Params.disqus true) -}}
            {{- $.Scratch.Set "isDisqus" true -}}
            {{- end -}}

            {{- if eq ($.Scratch.Get "isDisqus") true -}}
            <!-- {{- partial "disqus.html" . -}} -->
            {{- end -}}
        </div>
    </div>
    {{ partial "footer.html" . }}
</body>

</html>