<footer class="footer">
    <p>{{ with .OutputFormats.Get "RSS" }}
        <a href="{{ .RelPermalink }}" type="application/rss+xml" target="_blank">RSS feed</a> |
        {{ end }}
        Built with <a href="https://gohugo.io">Hugo</a> | Theme is <a
            href="https://github.com/carlinmack/ezium">Ezium</a>
    </p><br />
    <p>© Carlin MacKenzie 2018-2019</p>
    <script src="/nightmode.js?v=1"></script>
</footer>